nbproject
application/cache
application/config
application/core
application/helper
application/hooks
application/language
application/libraries
application/logs
application/third_party
application/views/errors
application/.htaccess
application/index.html
system/
.htaccess
index.php